[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-jshint"]
	path = vim/bundle/vim-jshint
	url = https://github.com/sleistner/vim-jshint
[submodule "vim/bundle/vim-liquid"]
	path = vim/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid
