'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'exception-reporting':
  'userId': 'ce947d33-4db7-2818-83b3-bdcaac48774a'
'release-notes':
  'viewedVersion': '0.60.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'dd061db80a2197a4c56fb00ee5918746aeff789e'
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
